# Vite Frontend Environment Variables
# For local dev: http://localhost:5000/api
# For Render Web Service production: https://kle-techfest-backend.onrender.com/api
VITE_API_URL=https://kle-techfest-backend.onrender.com/api
