# Supabase Configuration
# Replace these with your Supabase project settings
SUPABASE_URL=https://nloxwaifeijjlhvotrey.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5sb3h3YWlmZWlqamxodm90cmV5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc4MTgxMTEsImV4cCI6MjEwMzM5NDExMX0.5iHi4R_XmIjSsuHkeEIH45BrlT6Bjptv-J822h23K38
# Optional: If you use Row-Level Security (RLS) and want the backend to bypass it, provide the service-role key
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5sb3h3YWlmZWlqamxodm90cmV5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NzgxODExMSwiZXhwIjoyMTAzMzk0MTExfQ.DXUpxjuL2yLAg-3qubpYK41_Jb-OOucnQJKTsY9j7PA

# Flask Configuration
FLASK_SECRET_KEY=44dda958a5b0506bd51b62fe6f812a561b3efcc598fb1abe1ac267bc1b82282b
FLASK_ENV=development
PORT=5000
